@font-face {
    font-family: "WhyteInktrap";
    src: local("WhyteInktrap"),
        url("./fonts/WhyteInktrap-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "GTWalsheimPro";
    src: local("GTWalsheimPro"),
        url("./fonts/GTWalsheimPro-Regular.ttf") format("truetype");
    font-weight: normal;
}